.cart-total {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  /* height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* .cart-items {
  max-width: 800px;
  margin: 0 auto;
} */

@media screen and (min-width: 800px) {
  .cart-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
