.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card-img img {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-button {
  border-left: 1px solid rgba(0, 0, 0, 0.479);
}

.card-button a {
  color: gray;
}

.product-title {
  font-size: 18px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card-description {
  padding: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: all 0.3s ease;
}

.card button:hover {
  background-color: gray;
}

.btn-gradient {
  height: 200px;
  width: 300px;
  background: rgb(194,194,194);
  background: linear-gradient(90deg, rgba(194,194,194,1) 0%, rgba(119,119,119,1) 50%, rgba(205,205,205,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.btn-gradient:hover {
  transform: scale(1.1); 
}

.btn-gradient a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3.2px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  margin: 50px auto;
  grid-gap: 20px;
}



@media screen and (min-width: 768px) {
  .btn-container{
    justify-content: space-between;
  }
}