.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card-img img {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-button {
  border-left: 1px solid rgba(0, 0, 0, 0.479);
}

.card-button a {
  color: gray;
}

.product-title {
  font-size: 18px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card-description {
  padding: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: all 0.3s ease;
}

.card button:hover {
  background-color: gray;
}


