.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-container>h1 {
  text-align: center;
  margin: 50px;
}
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collection-btn {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px 35px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
}

.collection-btn a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: white;
}

.collection-btn:hover {
  transform: scale(1.1);
}


.collection-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
  margin: 50px auto;
  grid-gap: 20px;
}


@media screen and (min-width: 768px) {
  .cards-container {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 30px;
    row-gap: 50px;
  }

  .collection-buttons {
    justify-content: space-between;
  }
}
